{% load static %}
{% load render_table from django_tables2 %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<center>
    
    <h1>BIOHEART's Labrary</h1>
    {% render_table books %}
    <br>
    All category : {{category_num}} <br>
    All Book : {{book_num}}<br>
    Welcome to my Library
</center>
<!-- <img src="https://pwrstage.s3.amazonaws.com/mediafile/filer_public/f6/05/f60517eb-532b-4e9a-9a43-223e2b1b1f61/space-cat-with-taco-and-pizza-johnnie-art.jpg"> -->
<img src="http://d147ygn1aso2ie.cloudfront.net/mediafile/filer_public/a7/ae/a7ae09ea-aaa7-46a7-b269-deb5d189b6e1/space-cat-5-bronwyn-schuster-bored-panda-591b8c345bff2-jpeg__880-x1.jpg">
<img src="http://d147ygn1aso2ie.cloudfront.net/mediafile/filer_public/a7/ae/a7ae09ea-aaa7-46a7-b269-deb5d189b6e1/space-cat-5-bronwyn-schuster-bored-panda-591b8c345bff2-jpeg__880-x2.jpg">
<img src="http://d147ygn1aso2ie.cloudfront.net/mediafile/filer_public/a7/ae/a7ae09ea-aaa7-46a7-b269-deb5d189b6e1/space-cat-5-bronwyn-schuster-bored-panda-591b8c345bff2-jpeg__880-x3.jpg">
